body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #f5f5f5;
}

#chapter-panel {
    padding-top: 5px;
    border-top: 1px solid #ddd;
}

#chapter-panel td {
    width: 307px;
/*    height: 127px;*/
    display: inline-block;
    margin: 15px 20px 15px 0;
    padding: 8px 15px;
    text-overflow: ellipsis;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

#chapter-panel td:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#chapter-panel td button {
    opacity: 0;
    transition: 0.2s;
}

#chapter-panel td:hover button {
    opacity: 1;
}

.lesson_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777777;
    transition: 0.2s;
}

#chapter-panel td:hover .lesson_title {
    color: #1abc9c;
}

.event_container {
    padding: 0 10px 0 10px;
}

.event {
    display: inline-block;
    text-align: center;
    margin: 8px 20px 0 0;
    color: #777777;
}

.event-label {
    border-radius: 15px;
    padding: 4px 12px;
    position: relative;
    border: 1px solid #e5e5e5;
}

.event > span {
    font-size: 1.7em;
    line-height: 1.5;
    margin-top: 5px;
    font-weight: 300;
}

.slide-in {
    width: 300px;
    height: 75%;
    position: fixed;
    overflow-y: auto;
    padding:0;
    top: 125px;
    right: 30px;
}

.event-users-container {
    padding-top: 10px;
}

.panel-heading {
    border-bottom: 1px solid #ccc;
}

#details-body{
  padding-bottom: 20px;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}